.guided-qc {
  color: rgba(0, 0, 0, 0.87);
  text-align: center;
  height: 100%;
  padding: 0 30px;
}

.x-heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

/* Input */
.x-input {
  border: solid 1px #a7a7a7;
  border-radius: 3px;
  font-size: 24px;
  line-height: 1.2;
  padding: 6px 10px;
}
.x-barcode-input {
  visibility: hidden;
  height: 0;
  padding: 0;
  border: 0;
}
/* buttons */
.x-btn {
  padding: 20px;
  min-width: 240px;
  color: #ffffff !important;
  border-radius: 3px !important;
  border: 0 !important;
}
.x-btn.x-btn-success{
  background: #60b87a !important;
}
.x-btn.x-btn-danger {
  background: #d46a68 !important;
}
.x-btn.x-btn-primary {
  background: #4f47c8 !important;
}
.x-btn.x-btn-default {
  border: 1px solid #4f47c8 !important;
  background: #fff !important;
  color: #4f47c8 !important;
}
.x-btn.x-btn-default.x-active {
  color: #fff !important;
  background: #4f47c8 !important;
}
.x-btn:disabled {
  background: rgba(0, 0, 0, 0.27) !important;
} 
.x-btn-link {
  color: #4f47c8 !important;
  text-transform: uppercase;
  cursor: pointer;
}
/* font style */
.italic {
  font-style: italic;
}
/* font weight */
.fw300 {
  font-weight: 300;
}
.fw500 {
  font-weight: 500;
}

/* font size */
.fsp14 {
  font-size: 14px;
}
.fsp20 {
  font-size: 20px;
}

/* margin */
.mr-auto {
  margin: auto;
}
.mr-t5 {
  margin-top: 5px;
}
.mr-b50 {
  margin-bottom: 50px;
}
.mr-b30 {
  margin-bottom: 30px;
}
.mr-b20 {
  margin-bottom: 20px;
}
.mr-r5 {
  margin-right: 5px;
}

/* display classes */
.display-block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.flex1{
  flex: 1;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

/* icons */
.icon-circle {
  width: 19px;
  height: 19px;
  background-color: #4f47c8;
  border-radius: 50%;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
}

/* text css */
.text-capitalize {
  text-transform: capitalize;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-left {
  text-align: left;
}

/* Chrome, Safari, Edge, Opera */
.guided-qc input::-webkit-outer-spin-button,
.guided-qc input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.guided-qc input[type=number] {
  -moz-appearance: textfield;
}