.barcodeq .x-input {
  /* text-align: center; */
  /* color: transparent; */
  /* text-shadow: 1px 1px rgba(0, 0, 0, 0.87); */
  padding-left: 30px;
}
.barcodeq .x-error {
  margin-top: 10px;
  font-size: 10px;
  color: #d46a68;
}
/* .barcodeq .x-input:focus {
  outline: none;
} */