.x-image-gallary {
	display: flex;
	padding: 3px;
	border: 1px solid #ddd;
	width: fit-content;
}
.x-image-gallary .thumbnails {
	display: flex;
	flex-direction: column;
	min-width: 45px;
	overflow-y: auto;
	-ms-overflow-style: none;
}
.x-image-gallary .thumbnails::-webkit-scrollbar {
	display: none;
}
.x-image-gallary .thumbnails .thumbnail {
	display: flex;
	padding: 2px;
	margin: 3px 0px;
	max-width: 40px;
	min-height: 52px;
	align-items: center;
	justify-content: center;
	border-radius: 0;
	background-color: #fff;
	border: 1px solid #ddd;
	cursor: pointer;
}
.x-image-gallary .image {
	margin: 3px 0px;
	overflow-y: auto;
	min-width: 12vw;
	background: rgb(242, 242, 244);
	-ms-overflow-style: none;
}
.x-image-gallary .image::-webkit-scrollbar {
	display: none;
}
.x-image-gallary .image img {
	height: 100%;
}
.x-image-gallary .thumbnails .thumbnail img {
	width: 100%;
}