@keyframes x-loader-spinner {
  0% {
      transform: rotate(0deg)
  }

  to {
      transform: rotate(1turn)
  }
}

.guided-qc .u-loader-loader.u-loader-large {
  height: 100%;
  min-height: 284px;
  font-size: 64px;
}
.guided-qc .u-loader-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: inherit;
}
.guided-qc .u-loader-spinner {
  --current-color: #4f46c8;
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-bottom: -.125em;
  font-size: inherit;
}
.guided-qc .u-loader-spinner div {
  position: absolute;
  box-sizing: border-box;
  display: block;
  width: .75em;
  height: .75em;
  margin: .125em;
  font-size: inherit;
  border: .125em solid #fff;
  border-color: var(--current-color) transparent transparent transparent;
  border-radius: 50%;
  -webkit-animation: x-loader-spinner 1.2s cubic-bezier(.5,0,.5,1) infinite;
  animation: x-loader-spinner 1.2s cubic-bezier(.5,0,.5,1) infinite;
}
.guided-qc .u-loader-spinner div:first-child {
  -webkit-animation-delay: -.45s;
  animation-delay: -.45s;
}
.guided-qc .u-loader-spinner div:nth-child(2) {
  -webkit-animation-delay: -.3s;
  animation-delay: -.3s;
}
.guided-qc .u-loader-spinner div:nth-child(3) {
  -webkit-animation-delay: -.15s;
  animation-delay: -.15s;
}