.x-random {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.x-random .x-random-option {
  padding: 15px;
  margin: 20px;
  border-radius: 3px;
  border: 1px solid #a7a7a7;
  background-color: #ffffff;
  display: flex;
  /* text-transform: uppercase; */
  width: 400px;
  box-sizing: border-box;
  cursor: pointer;
}
.x-random .x-random-option.active {
  border: 1px solid #4f47c8;
}